.masthead-wrapper {
    background: linear-gradient(
        rgba(243, 129, 129, 0.9) 0%,
        rgba(252, 227, 138, 0.9) 100%
      ),
      url(../images/layer15-min.jpg) center/cover no-repeat;
    margin-bottom: 5rem;
  }

  @media (-webkit-min-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .masthead-wrapper {
      background: linear-gradient(
          rgba(243, 129, 129, 0.9) 0%,
          rgba(252, 227, 138, 0.9) 100%
        ),
        url(../images/layer15@2x-min.jpg) center/cover no-repeat;
    }
  }

  .masthead-hero {
    padding: 0 12rem;
    margin-bottom: 9rem;
  }

  .masthead-hero__title {
    font-size: 15rem;
    line-height: 14rem;
    color: $primary-white-color;
    font-family: $main-font-stack;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12rem;
  }

  .masthead-hero__subtitle {
    font-size: 7.2rem;
    color: $primary-white-color;
    font-family: $subtitle-font;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 4rem;
  }

  .masthead-button {
    display: block;
    border: 3px solid $primary-white-color;
    background-color: rgba(0,0,0,0);
    margin: 0 auto;
  }
