.page-menu {
    display: flex;
  }

  .header-nav__list {
    @extend %list;
    display: flex;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 6rem;
  }

  .header-nav__link {
    @extend %link;
    color: $header-font-color-white;
    font-family: $secondary-font-stack;
    font-size: $common-text-size;
    text-transform: uppercase;
    display: block;
    transition: color 200ms linear;

    &::after {
    content: "";
    display: block;
    width: 0;
    margin: 1.2rem auto 0;
    border-bottom: 0.3rem solid $header-hover-color;
    transition: width 200ms;
    }


  &:hover, &:focus {
    color: $header-hover-color;
  }


  &:hover::after {
    width: 100%;
  }
}

  .header-actions {
    display: flex;
  }

  .header-actions__link {
    fill: $header-font-color-white;
    transition: color 200ms linear;

  &:hover, &:focus {
    fill: $header-hover-color;
  }

  &:hover, .header-actions__link::after {
    opacity: 1;
    transition: opacity 200ms linear;
  }
}

  .header-actions__svg {
    display: block;
    width: 2rem;
    height: 2rem;
  }

  .action-cart {
    margin: 0 4rem;
  }