.header {
  padding: 2.8rem 0 23rem 0;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17rem;
  }

  .page-header-buttons {
    display: flex;
  }

  .header-buttons__svg {
    display: block;
    width: 2rem;
    height: 2rem;
  }

  .page-header-buttons__link {
    fill: $primary-white-color;
    transition: color 200ms linear;

    &:hover,
    &:focus {
    fill: $header-hover-color;
    }
  }

  .action-cart {
    margin: 0 6rem;
  }

   
