.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .services__item {
    flex-basis: 38rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 10rem;
    display: flex;
  }

  .services__item:not(:nth-child(3n)) {
    margin-right: 3rem;
  }

  .services__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }

  .services__item-box {
    width: 30rem;
    padding-bottom: 10rem;
  }

  .services__icon {
    fill: $main-icons-color;
    display: block;
    height: 3.2rem;
    width: 3.2rem;
    margin-right: 3rem;
    flex-shrink: 0;
  }

  .services__item-name {
    font-family: $secondary-font-stack;
    color: $title-text-color;
    text-transform: uppercase;
    font-size: $common-text-size;
    margin-bottom: 2rem;
  }

  .services__item-desc {
    line-height: 1.6rem;
    font-size: 1.5rem;
    font-family: $roboto-font;
    color: $main-text-color;
  }