.social-icons__link {
    background-color: $header-hover-color;
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 0.1rem;
    fill: $icon-hover-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons__link:hover {
    background-color: $icon-hover-color;
    fill: $primary-white-color;
    transition: background-color 200ms linear;
  }

  .social-icons__link svg {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
  }