.team {
    margin-bottom: 8.4rem;
  }

  .title-section::after {
    padding-bottom: 4.3rem;
  }

  .team__about {
    padding: 0 12.4rem;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 9.2rem;
    font-family: $roboto-font;
    font-size: 1.5rem;
    color: $main-text-color;
  }

  .team-members__list {
    @extend %list;
    display: flex;
    justify-content: space-between;
  }

  .team-members__card {
    position: relative;
  }


  .team-members__card:hover .team-members__overlay {
    opacity: 1;
    transform: translate(-1rem, -1rem);
  }


  .team-members__overlay {
    @include flex-center($type: 'all');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(239, 138, 138, 0.9),
      rgba(238, 215, 135, 0.9)
    );
    opacity: 0;
    box-shadow: 1rem 1rem $main-icons-color;
    transition: all 200ms linear 0s;
  }

  .team-members__image {
    margin-bottom: 3rem;
  }

  .team__list-item:hover {
    transform: translate(-1rem, -1rem);
  }

  .team-members__name {
    font-family: $secondary-font-stack;
    text-transform: uppercase;
    color: $title-text-color;
    font-size: $common-text-size;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .team-members__pos {
    font-family: $roboto-font;
    color: $main-text-color;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
  }