.team__header-text {
    padding: 0 12rem;
    margin-bottom: 9rem;
    color: $main-text-color;
    font-family: $roboto-font;
    text-align: center;
    line-height: 2.4rem;
    font-size: 1.5rem;
  }

  .team-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

  .team-member {
    width: 380px;
    position: relative;

    &:hover {
      opacity: 0.9;
      top: -10px;
      left: -10px;
    }
  }

  .socials {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 0px;
    background-image: linear-gradient(0deg, #f0e290 0%, #e98a89 100%);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms linear;
    box-shadow: 10px 10px #95e1d3;
    transition: opacity 200ms linear, box-shadow 200ms linear;

    &:hover {
      opacity: 0.9;
      top: -10px;
      left: -10px;
    }
  }

  .team-member__image{
    position: relative;
  }

  .team-member__image {
    position: relative;
    transition: all 200ms linear;
    display: block;
    z-index: 2;
  }

  .team__member-name {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    font-family: $secondary-font-stack;
    color: $title-text-color;
    margin: 1.2rem 0;
  }

  .team__member-occupation {
    font-size: 1.5rem;
    font-family: $roboto-font;
    color: $main-text-color;
    text-align: center;
    font-style: italic;
  }