@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v12-latin/montserrat-v12-latin-regular.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff") format("woff"),
    url("../fonts/montserrat-v12-latin/montserrat-v12-latin-700.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: "roboto-regular";
    src: url("../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff") format("woff"),
    url("../fonts/roboto-slab-v7-latin/roboto-slab-v7-latin-regular.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "kaushan-regular";
    src: url("../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.woff") format("woff"),
    url("../fonts/kaushan-script-v7-latin/kaushan-script-v7-latin-regular.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
  }