@media screen and (min-width: 678px) {

    .wrapper {
        min-width: 670px;
    }

    .main-wrapper {
        margin-bottom: 70px;
    }

    .page-header {
      width: 100%;
      padding: 45px 50px 0 50px;
    }
    .container {
      width: 678px;
    }

    .main-header-subsection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 150px;
      }

      .hero_descr {
        font-size: 24px;
      }

      .partners-list {
        display: flex;
        flex-wrap: wrap;
      }

      .partners-member {
          max-width: 235px;
          margin-bottom: 60px;
      }

      .partner-member:nth-child(odd) {
          margin-right: 20px;
      }

      .link-button {
          width: 225px;
      }
}

@media screen and (min-width: 960px) {
    .wrapper {
      min-width: 960px;
    }

    .container {
      width: 960px;
    }

    .main-header {
      margin-bottom: 0;
    }

    .hero_title {
      width: 500px;
      margin: 0 auto;
      margin-bottom: 40px
    }

    .partners-list {
      display: flex;
      flex-wrap: nowrap;
    }

    .partners-list-item:not(:last-child) {
    margin-right: 20px;
    }

}