@import "./vars.css";
@import "./fonts.css";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0px;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.wrapper {
  min-width: 320px;
}

.main-wrapper {
  background-image: url(../img/bg_img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
}

.logo {
  display: block;
}

.logo-link {
  display: block;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--main-color);
  font-family: var(--main-bold-font);
  text-transform: uppercase;
}


.main-header-subsection {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 30px;
}

.login_signup-list {
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}

.hero_title {
  font-size: 30px;
  color: var(--main-color);
  font-family: var(--main-bold-font);
  text-align: center;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.hero_descr {
  font-size: 18px;
  color: var(--main-color);
  font-family: var(--semi-light-font);
  text-align: center;
  margin-bottom: 35px;
}

.masthead_hero {
  margin-bottom: 65px;
}

.link-button {
  width: 280px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ff4e50;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--main-bold-font);
  padding: 11px 0;
  display: block;
  box-sizing: border-box;
  color: var(--main-color);
  background-color: #ff4e50;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}

.log-button {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
  font-family: var(--main-bold-font);
  color: var(--main-color);
  font-size: 14px;
  padding: 16px 28px;
  border: 2px solid transparent;
  outline: none;
}

.log-button:hover {
  border: 2px solid var(--main-color);
  border-radius: 48px;
}

.link-button:hover {
  color: var(--button-color);
  border: 2px solid var(--button-color);
  background-color: var(--main-color);
}


.top-main-header {
  margin-bottom: 65px;
  padding: 20px 30px 130px 30px;
}

/*----partners*/

.container {
  width: 320px;
  margin: 0 auto;
  text-decoration: none;
  padding: 0 20px 0 20px;
}

.partners {
  margin-bottom: 50px;
}

.partners-title {
  font-size: 22px;
  color: var(--main-text-color);
  font-family: var(--main-bold-font);
  text-align: center;
  margin-bottom: 35px;
}

.partners-member {
  width: 100%;
  padding-bottom: 25px;
  margin: 0 auto;
}

.member-descr {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
}

.member-descr::before {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  background-position: center;
}

.tv:before {
  background-image: url(../img/tv.png);
  background-color: var(--button-color);
}

.vial:before {
  background-image: url(../img/vial.png);
  background-color: var(--eclipse-bgcolor);
}

.clock:before {
  background-image: url(../img/clock.png);
  background-color: var(--eclipse-bg);
}

.telegram:before {
  background-image: url(../img/telegram.png);
  background-color: var(--eclipse-bg-blue);
}

.member-pic {
    width: 200px;
    margin: 0 auto;
}

.icon-image {
  border-radius: 50%;
}

.icon-name {
  font-size: 14px;
  color: var(--main-text-color);
  font-family: var(--main-bold-font);
  text-align: center;
  padding-top: 20px;
}

.icon-text {
  font-size: 14px;
  color: var(--text-color);
  font-family: var(--semi-light-font);
  text-align: center;
  padding-top: 15px;
}
