* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 img {
    display: block;
    width: 100%;
    height: auto;
}


.wrapper-header {
  height: 90px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.logo {
  font-size: 30px;
  line-height: 32px;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-decoration: none;
  float: left;
  text-transform: uppercase;
}

.logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.nav-menu {
  float: right;
  padding: 30px 0 0 0;
}

 .menu-item {
  float: left;
  list-style: none;
  margin: 0 40px 0 0;
 }

.nav-link {
  font-size: 14px;
  line-height: 11px;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  list-style: none;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
  color: #1abc9c;
}

.menu-item:last-child {
  margin: 0;
}

.slider {
    position: relative;
}

.slider-img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.slider-overlay {
    background-color: #000002;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.slider-content {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    letter-spacing: -2px;
    text-align: center;
}

.slider-text {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.text-main {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.text-descr {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.button {
    width: 104px;
    height: 104px;
    background-color: #4ec6ab;
    line-height: 104px;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.slider-prvs {
    position: absolute;
    bottom: 10px;
    left: 0px;
    text-align: center;
    font-size: 50px;
}

.slider-nxt {
    position: absolute;
    bottom: 10px;
    right: 0px;
    text-align: center;
    font-size: 50px;
}

.gallery {
    padding: 100px 0 100px 0;
    background-color: #e9f0fd;
}

.section-title {
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #515151;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.section-title::after {
    content: "";
    border-bottom: 7px solid #1abc9c;
    display: block;
    width: 165px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .products-list {
    list-style: none;
  }

  .products-item {
    float: left;
    margin: 0 25px 0 0;
    width: 255px;
  }

  .products-item:nth-child(4n) {
    margin-right: 0;
  }

  .products-card {
    position: relative;
  }

  .products-overlay {
    position: absolute;
    width: 100%;
    height: 255px;
    background-color: rgba(0, 0, 0, 0.549);
    border: 10px solid rgba(255, 255, 255, 0.549);
    top: 0px;
    opacity: 0;
  }

  .products-card:hover .products-overlay {
      opacity: 1;
  }

  .products-box  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons-list {
    margin: 76px 34px;
    float: left;
  }

  .icon-item {
    float: left;
    list-style: none;
  }

  .social-icons-list li:nth-child(-n + 2) {
    margin: 0 8px 8px 0;
  }
  .social-icons-list li:nth-child(3) {
    margin: 0 0 8px 0;
  }

  .icon-item__add {
    float: left;
    list-style: none;
    width: 166px;
    height: 50px;
  }

  .icon-item__cart {
    float: left;
    list-style: none;
    width: 166px;
    height: 50px;
  }

  .icon-button {
    border: 1px solid #ffff;
    padding: 0;
    display: block;
    text-decoration: none;
  }

  .icon-button__add {
    width: 166px;
    height: 50px;
    padding: 0;
    border: 1px solid #ffff;
    background-color: #323232;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }

  .icon-button:hover {
    background-color: #1abc9c;
    border: none;
  }

  .icon-button__add:hover {
    background-color: #1abc9c;
    border: none;
  }

.icon-like,
.icon-random,
.icon-clock,
.icon-cart {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
}

.icon-like {
    background-image: url(../img/icons/heart.png);
}

.icon-random {
    background-image: url(../img/icons/size.png);
}

.icon-clock {
    background-image: url(../img/icons/time.png);
}

.icon-cart {
    background-image: url(../img/icons/cart.png);
    float: left;
}

.icon-text {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 114px;
    height: 50px;
    line-height: 50px;
    float: right;
  }
  .products-item-info {
    width: 255px;
    height: 40px;
    background-color:#323232;
  }

  .products-link {
    text-decoration: none;
  }

  .products-item-name {
    float: left;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }

  .price {
    float: right;
    width: 55px;
    height: 40px;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 40px;
  }

  .products-item:hover .products-item-info {
    background-color: #1abc9c;
  }

  .products-item:hover .price {
    background-color: #7fd9c7;
  }

  .site-footer {
      background-color: #323232;
      font-size: 16px;
      color: #ffff;
      font-family: "Open Sans", sans-serif;
      height: 88px;
      text-align: center;
      line-height: 88px;
  }

  .designed {
      text-decoration: none;
      color: #1abc9c;
  }