* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

.header {
    padding: 20px 0 0 0;
    margin: 0 0 100px 0;
}

.nav-menu {
    text-align: center;
}

.menu-item{
    list-style: none;
    display: inline-block;
    margin: 0 40px 0 0;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: #626262;
}

a:hover {
    color: #03a9f4;
}

.article-list {
    font-size: 0;
}

.photo-title {
    margin: 30px 0 30px 0;
    font-size: 14px;
    color: #b4ad9e;
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
}

.article-title {
    font-size: 30px;
    color: #626262;
    font-family: "Playfair Display", sans-serif;
    margin: 0 0 30px 0;
}

.article-text {
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 130px;
}

.article-item {
    width: 420px;
    list-style: none;
    display: inline-block;
}

.article-item:not(:nth-child(2n)) {
    margin-right: 85px;
}

.button {
    width: 164px;
    height: 60px;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
    font-family: "Playfair Display", sans-serif;
    margin: 0 auto 60px;
    display: block;
}