$main-font-stack: "montserrat-bold", sans-serif;
$secondary-font-stack: "montserrat-regular", sans-serif;
$subtitle-font: "kaushan-regular", script;
$roboto-font: "roboto-regular", sans-serif;
$header-font-color-white: #ffffff;
$header-hover-color: #fce38a;
$title-text-color: #333333;
$icon-hover-color: #f38181;
$main-text-color: #999999;
$main-icons-color: #95e1d3;
$border-color: #e5e5e5;
$common-text-size: 1.4rem;